button {
  font-family: 'IBM Plex Mono';
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.fill-button {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.outline-button {
  border: solid 1px var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
