.main-content-padding {
  padding: 200px 20%;
}

@media (max-width: 1400px) {
  .main-content-padding {
    padding: 150px 10%;
  }
  .footer-padding {
    padding: 30px 10%;
  }
}

@media (max-width: 925px) {
  .main-content-padding {
    padding: 100px 10px;
  }
  .footer-padding {
    padding: 15px 10px;
  }
}

@media (max-width: 425px) {
  .main-content-padding {
    padding: 90px 10px;
  }
  .fotter-padding {
    padding: 15px 10px;
  }
}

footer {
  background-color: var(--secondary-color);
  text-align: center;
}

footer span {
  font-size: 12px;
}

.footer-padding {
  padding: 30px 20%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media (max-width: 925px) {
    gap: 30px;
  }
}

.show-area {
  display: flex;
  flex-direction: column;
  gap: 130px;

  @media (max-width: 925px) {
    gap: 70px;
  }
}
