.main-content-padding {
  padding: 150px 20%;
}

@media (max-width: 1400px) {
  .main-content-padding {
    padding: 150px 10%;
  }
}

@media (max-width: 768px) {
  .main-content-padding {
    padding: 50px 10px;
  }
}

@media (max-width: 425px) {
  .main-content-padding {
    padding: 20px 10px;
  }
}
