.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 75px;
  width: 100%;
  padding: 0 10%;

  filter: drop-shadow(5px 5px 10px #0000002d);
}

h2 {
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: bold;
  line-height: 0;
  margin: 0;
}

.content-header {
  height: 42px;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  width: 144px;
}

.options {
  font-size: 1.2em;
  justify-content: space-around;
  width: 600px;
}

.options .selected {
  font-weight: bolder;
  font-size: 1.1em;
}
