.profile-container {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  gap: 10px;
  text-align: justify;
}

.profile-container h2 {
  font-family: 'IBM Plex Mono';
  font-weight: normal;
  letter-spacing: -1px;
  font-size: 32px;
  line-height: 32px;
}

.profile-container h1 {
  font-size: 36px;
  line-height: 20px;
  font-weight: normal;
}

.profile-container h1 span {
  font-weight: bold;
  letter-spacing: 2px;
}

.profile-container .title-div {
  height: auto;
}

.profile-container img {
  width: 280px;
  height: 300px;
  border-radius: 25px;
  filter: drop-shadow(5px 5px 10px #0000002d);
  object-fit: cover;
}

.profile-container .img-container {
  grid-row: span 2;
  justify-content: end;
}

.profile-container p {
  font-size: 20px;
}

@media (max-width: 1015px) {
  .profile-container {
    grid-template-columns: 60% 40%;
  }
}

@media (max-width: 925px) {
  .profile-container {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .profile-container .img-container {
    justify-content: center;
  }

  .profile-container p {
    text-align: justify;
  }

  .profile-container img {
    grid-row: span 1;
  }
}

@media (max-width: 470px) {
  .profile-container h1 {
    font-size: 24px;
  }

  .profile-container h1 span {
    font-size: 25px;
  }

  .profile-container h2 {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .profile-container p {
    font-size: 18px;
  }
}
